// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#primary{
  #jobify_widget_search_hero-2{
    .hero-search{
      .container{
        .job_search_form{
          .search_jobs{
            div{
              input[type=text]{
                background: #797979;
                color: #fff;
              }
              ::-webkit-input-placeholder {
                color: #fff;
              }
              :-ms-input-placeholder {
                color: #fff;
              }
              ::placeholder {
                color: #fff;
              }
              select{
                background: #797979;
                color: #fff;
                padding: 12px 14px;
              }
            }
          }
        }
      }
    }
  }
}